---
import Section from "../components/Section.astro";
---

<Section title="Accessories" color="black">
  <div slot="buttons" class="gap-x-6 flex mx-auto">
    <a
      class="bg-black text-sm rounded font-medium text-white px-12 py-2 inline-flex justify-center items-center hover:bg-white hover:text-black hover:border-[1px] hover:border-black transition-colors"
      href="">Shop Now</a
    >
  </div>

  <img
    slot="bg-section"
    src="./Accessories.avif"
    alt="Accessories"
    class="w-full h-full object-cover"
  />
</Section>
