---
import Section from "../components/Section.astro";
---

<Section
  title="Solar Roof"
  subtitle="Produce Clean Energy From Your Roof"
  color="black"
>
  <div slot="buttons" class="gap-x-6 flex mx-auto">
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 inline-flex justify-center items-center hover:border-white hover:bg-gray-100"
      href="">Order Now</a
    >
    <a
      class="bg-black/30 backdrop-blur-xl text-sm rounded font-medium text-white px-12 py-2 inline-flex justify-center items-center hover:bg-gray-600 hover:text-white transition"
      href="">Learn More</a
    >
  </div>

  <img
    slot="bg-section"
    src="./SolarRoof.avif"
    alt="Solar Roof"
    class="w-full h-full object-cover"
  />
</Section>
